[submodule "sandstone/vendor/spdlog"]
	path = sandstone/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sandstone/vendor/imgui"]
	path = sandstone/vendor/imgui
	url = https://github.com/banna12345bob/imgui
